body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}
header {
    background-color: #007bff;
    color: #ffffff;
    text-align: center;
    padding: 0.3rem;
}
header p {
    margin-top: 0.15rem;
    margin-bottom: 0.15rem;
}
nav {
    background-color: #0056b3;
    padding: 0.5rem;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 10px;
}
nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 135%;
    font-weight: bold;
}
nav ul li a:hover {
    color: #add8e6; /* Highlight text in yellow on hover */
}
main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1, h2, h3 {
    color: #007bff;
}
.cta-button {
    display: inline-block;
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}
footer {
    background-color: #007bff;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}
nav ul li a:hover, .cta-button:hover {
    background-color: #0056b3;
    transition: background-color 0.3s ease;
}
nav ul li a:active, .cta-button:active {
    background-color: #004085;
}